@import '../../scss/variables';
.root {
   display: flex;
   justify-content: center;
   :first-child,
   :last-child {
      padding: 5px;
   }

   li {
      background-color: #f9f9f9;
      margin: 0 5px;
      padding: 5px 13px;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &.cursorNone {
         cursor: no-drop;
      }

      span {
         line-height: 0;

         svg {
            width: 20px;
            height: 20px;
         }
      }

      &.active {
         background-color: $orange;
         color: #fff;
         font-weight: 600;
         font-size: 16px;

         &:hover {
            background-color: darken($orange, 8%);
         }

         &:active {
            background-color: darken($orange, 12%);
            transform: translateY(1px);
         }

         span {
            color: inherit;

            svg {
               g {
                  fill: white;
               }
            }
         }
      }
   }
}
